<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
 <style type="text/css">
    body{background:#FFA07A;padding:0 5em;margin:0}
    h1{opacity:0.5;padding:2em 1em;background:#675;text-align: center;margin-top: 4cm}
    h3{color:#CC6699;font-size: 30px;height:30px;line-height:30px;text-align: center;margin: 0 auto;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;margin-top: 2cm}
    h6{color:#969696;text-align:center;font-size: 20px;margin-top: 1cm}
    input{width:6cm;height:30px}
  </style>
<body>
<h3>Search By Dessert</h3>
<h1>
    <form action="/myapp/rdessert/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form><h6>(仅输入关键字即可)</h6>
    </h1>
</body>
</html>