<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
 <style type="text/css">
     body{background-color:#efd;padding:0 5em;margin:0}
     h1{padding:2em 2em;background:#CC6699}
     h3{color:#CC6699;font-size: 30px;height:30px;line-height:30px;text-align: center;margin: 0 auto;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;margin-top: 10cm}
     h4{color:#CC6699;font-size: 20px;height:30px;line-height:30px;text-align: center;margin: 0 auto;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;margin-top: 3cm}

 </style>
<body>

<h1>Add Success!!</h1>
<h4><a href="http://127.0.0.1:8000/myapp/logout/">退出</a>&nbsp&nbsp&nbsp
<a href="http://127.0.0.1:8000/myapp/enter/">查看所有评论</a>&nbsp&nbsp&nbsp
<a href="http://127.0.0.1:8000/myapp/adminsearch_choice/">搜索</a>&nbsp&nbsp&nbsp
<a href="http://127.0.0.1:8000/myapp/addshop/">添加店铺</a>&nbsp&nbsp&nbsp
<a href="http://127.0.0.1:8000/myapp/showshop/">查看店铺</a>&nbsp&nbsp&nbsp
</h4>
</body>
</html>